body {
    color: WHITE;
    background-color: #F7FFED;
    font-family: roboto;
}

div.header {
    padding: 60px;
    text-align: center;
    background: #636AB8;
    font-size: 50px;
}

li {
    font-size: 20px;
    padding: 15px;
    background: #5BACE3;
    border-style: solid;
    width: 50%;
}