body {
    color: WHITE;
    background-color: #F7FFED;
    font-family: roboto-slab;
    font-size: 20px;
}

div.header {
    padding: 60px;
    text-align: center;
    background: #636AB8;
    font-size: 50px;
}

ul {
    padding: 0px;
}

li {
    padding: 15px;
    background: #5BACE3;
    border-style: solid;
    width: 50%;
}

table, th, td {
    background: #B5F5EC;
    border: 2px solid #636AB8;
    border-collapse: collapse;
}

th {
    background: #636AB8;
    padding: 10px;
}

td {
    padding: 15px;
    color: #5BACE3;
}

td.heading {
    background: #5BACE3;
    color: WHITE;
}